In [1]:
import pandas as pd  
import numpy as np  
import spacy 
from spacy.lang.en.stop_words import STOP_WORDS

In [2]:
df = pd.read_csv('../data/twitter16m.csv', encoding='latin1', header=None)
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [3]:
df = df[[5, 0]]

In [6]:
df.columns = ['tweets', 'sentiments']
df.head()

                                              tweets  sentiments
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...           0
1  is upset that he can't update his Facebook by ...           0
2  @Kenichan I dived many times for the ball. Man...           0
3    my whole body feels itchy and like its on fire            0
4  @nationwideclass no, it's not behaving at all....           0

In [7]:
df['sentiments'].value_counts()

0    800000
4    800000
Name: sentiments, dtype: int64

In [8]:
sent_map = {0: 'negative', 4: 'positive'}

In [11]:
# word counts
df['word_counts'] = df['tweets'].apply(lambda x: len(str(x).split()))

<ipython-input-11-3e94a82ed969>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['word_counts'] = df['tweets'].apply(lambda x: len(str(x).split()))

In [12]:
df.head()

                                              tweets  sentiments  word_counts
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...           0           19
1  is upset that he can't update his Facebook by ...           0           21
2  @Kenichan I dived many times for the ball. Man...           0           18
3    my whole body feels itchy and like its on fire            0           10
4  @nationwideclass no, it's not behaving at all....           0           21

In [13]:
# character counts
df['char_counts'] = df['tweets'].apply(lambda x: len(x))

<ipython-input-13-c63ad0ed1cb0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['char_counts'] = df['tweets'].apply(lambda x: len(x))

In [14]:
df.head()

,tweets,sentiments,word_counts,char_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111